.classpath
.settings
.settings
.project
jaxmpp-core/bin
jaxmpp-core/target
jaxmpp-gwt/bin
jaxmpp-gwt/target
jaxmpp-gwt/war
jaxmpp-j2se/bin
jaxmpp-j2se/target
target
.gradle
jaxmpp-j2se/build
jaxmpp-core/build
jaxmpp-gwt/build
jaxmpp-android/bin
jaxmpp-android/gen
*/bin
*/build
*/gen
*/target
jaxmpp-gwt/gwt-unitCache
docs
